#icon {
    background-color: teal;
    color: white;
    font-family: Brush Script MT;
    font-size: 30px;
    font-weight: normal;
    padding: 20px;
}

.container {
    margin-top: 50px;
}

.box {
    background-color: white;
    padding: 20px;
    overflow-wrap: normal;
}

h1 {
    font-family: Courier New;
    color: teal;
    font-size: 30px;
}

.float {
    float: left;
    width: 50%;
}

@media (max-width: 991px) {
    .bg-light {
        background-color: teal !important;
    }
}

@media (min-width: 992px) {
    body {
        background-color: lightgray !important;
    }
}