#icon {
    background-color: teal;
    color: white;
    font-family: Brush Script MT;
    font-size: 30px;
    font-weight: normal;
    padding: 20px;
}

.container {
    margin-top: 50px;
}

.box {
    background-color: white;
    padding: 20px;
    overflow-wrap: normal;
}

h1 {
    font-family: Courier New;
    color: teal;
    font-size: 30px;
}

h2 {
    font-family: Arial;
    color: teal;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.float {
    float: left;
    width: 30%;
}

.sm-sc-divider {
    display: none;
}

.img-thumbnail {
    border: 3px solid teal;
}

.table-responsive {
    height: 700px;
}

@media (max-width: 991px) {
    .bg-light {
        background-color: teal !important;
    }
}

@media (max-width: 768px) {
    .sm-sc-divider {
        display: block;
    }
}

@media (min-width: 992px) {
    body {
        background-color: lightgray !important;
    }
}