#icon {
    background-color: teal;
    color: white;
    font-family: Brush Script MT;
    font-size: 30px;
    font-weight: normal;
    padding: 20px;
}

@media (max-width: 991px) {
    .bg-light {
        background-color: teal !important;
    }
}

@media (min-width: 992px) {
    body {
        background-color: gray !important;
    }
}